@font-face
{
	font-family: thaisanslite;
	src: url('thaisanslite_r1.ttf'),
    	 url('thaisanslite_r1.otf'); /* IE9 */
}

body
{
	padding-top:60px;
	background-color:#3D63B5;

}

.bg
{
	background-color:#3D63B5;
}

.bg li a
{
	color:white;
}

a.bg
{
	color:white;
}

a.bg:hover
{
	color:#999;
}

.bg li a:hover
{
	color:black;
}

section.round > .row
{
	padding: 5px;
	border-radius: 5px;
	background-color:white;
	margin-left: -5px;
}

section.round > .row > [class*="span"]
{
	margin-left: 5px;
}

.round.wrapper
{
	border-radius: 5px;

}

.tab-pane
{
	padding:10px;
}

.wrapper.white
{
	background-color: white;
}

h1, h2, h3, h4, h5, h6
{
	font-family: thaisanslite;
	color:white;
}